@use 'colors';

.mainPage-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    img {
        width: 50vw;
        height: 75vh;
    }
}

.mainPage-text {
    h1 {
        // width: 50vw;
        // margin-right: auto;
        font-size: 3em;
        font-weight: 500;
    }
}

.left-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40vw;
}

.games-word {
    color: colors.$primary-blue;
    text-decoration: none;
    z-index: 1;
}

.games-word:hover {
    cursor: pointer;
    pointer-events: auto;
}
