@use 'colors';

.nav-container {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

$navPadding: 5px;
$navMargin: 5px;

.nav-link {
    padding: $navPadding;
    margin: $navMargin;
}

.nav-div {
    display: inline-block;
}

.nav-logo {
    margin-left: 10px;
    font-size: large;
    width: 80px;
    height: 40px;
}

.nav-left {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.neonText {
    font-size: 1.5em;
    color: colors.$primary-green;
    text-shadow: 0 0 4px colors.$primary-green, 0 0 8px colors.$primary-green, 0 0 15px #fff;
    padding: $navPadding;
    margin-left: 10px;
    // margin: $navMargin;
    // , 0 0 38px colors.$primary-green,
    // 0 0 62px colors.$primary-green, 0 0 70px colors.$primary-green, 0 0 82px colors.$primary-green,
    // 0 0 110px colors.$primary-green
    font-family: 'Vibur', sans-serif;
}

.nav-button {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px 10px 10px;
    font-size: large;
    position: relative;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.nav-button:hover:after {
    width: 100%;
    left: 0;
}

.nav-button:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: colors.$light-color;
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
    width: 0;
}

.menu {
    padding-right: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.active::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: colors.$primary-green;
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
    width: 100%;
}
